<?xml version="1.0" ?>
<config>
    <modules>
        <Shop_Teacher>
            <version>0.0.1</version>
        </Shop_Teacher>
    </modules>
    <frontend>
        <routers>
            <shop_teacher>
                <use>standard</use>
                <args>
                    <module>Shop_Teacher</module>
                    <frontName>teacher</frontName>
                </args>
            </shop_teacher>
        </routers>
        <layout>
            <updates>
                <teacher>
                    <file>shop_teacher.xml</file>
                </teacher>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <shop_teacher_admin>
                <use>admin</use>
                <args>
                    <module>Shop_Teacher</module>
                    <frontName>teacher</frontName>
                </args>
            </shop_teacher_admin>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <Shop_Teacher module="Shop_Teacher">
                <title>Teacher</title>
                <sort_order>77</sort_order>
                <action>teacher/adminhtml_Teacher</action>
            </Shop_Teacher>
        </menu>
    </adminhtml>
    <global>
        <helpers>
            <Shop_Teacher>
                <class>Shop_Teacher_Helper</class>
            </Shop_Teacher>
        </helpers>
        <blocks>
            <shop_teacher>
                <class>Shop_Teacher_Block</class>
            </shop_teacher>
        </blocks>
        <models>
            <shop_teacher>
                <class>Shop_Teacher_Model</class>
                <resourceModel>shop_teacher_resource</resourceModel>
            </shop_teacher>
            <shop_teacher_resource>
                <class>Shop_Teacher_Model_Resource</class>
                <entities>
                    <teacher>
                        <table>shop_teacher_entities</table>
                    </teacher>
                    <skills>
                        <table>shop_skills</table>
                    </skills>
                </entities>
            </shop_teacher_resource>
        </models>
        <resources>
            <shop_teacher_setup>
                <setup>
                    <module>Shop_Teacher</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shop_teacher_setup>
        </resources>
    </global>
</config>