<?xml version="1.0" ?>
<config>
    <modules>
        <Shop_Task>
            <version>0.0.1</version>
        </Shop_Task>
    </modules>
    <admin>
        <routers>
            <shop_task_admin>
                <use>admin</use>
                <args>
                    <module>Shop_Task</module>
                    <frontName>task</frontName>
                </args>
            </shop_task_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <shop_task module="shop_task">
                <title>Task</title>
                <sort_order>77</sort_order>
                <action>task/adminhtml_task</action>
            </shop_task>
        </menu>
    </adminhtml>
    <global>
        <models>
            <shop_task>
                <class>Shop_Task_Model</class>
                <resourceModel>shop_task_resource</resourceModel>
            </shop_task>
            <shop_task_resource>
                <class>Shop_Task_Model_Resource</class>
                <entities>
                    <task>
                        <table>shop_task_entities</table>
                    </task>
                </entities>
            </shop_task_resource>
        </models>
        <resources>
            <shop_task_setup>
                <setup>
                    <module>Shop_Task</module>
                </setup>
            </shop_task_setup>
        </resources>
        <helpers>
            <shop_task>
                <class>Shop_Task_Helper</class>
            </shop_task>
        </helpers>
        <blocks>
            <shop_task>
                <class>Shop_Task_Block</class>
            </shop_task>
        </blocks>
    </global>
</config>