<?xml version="1.0" ?>
<config>
    <modules>
        <Itra_Insurance>
            <version>0.0.1</version>
        </Itra_Insurance>
    </modules>
    <frontend>
        <layout>
            <updates>
                <insurance>
                    <file>insurance.xml</file>
                </insurance>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <insurance>
                <class>Itra_Insurance_Helper</class>
            </insurance>
        </helpers>
        <models>
            <insurance>
                <class>Itra_Insurance_Model</class>
            </insurance>
        </models>
        <blocks>
            <itrainsurance>
                <class>Itra_Insurance_Block</class>
            </itrainsurance>
            <sales>
                <rewrite>
                    <order_totals>Itra_Insurance_Block_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>
        <resources>
            <itra_insurance_setup>
                <setup>
                    <module>Itra_Insurance</module>
                </setup>
            </itra_insurance_setup>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <save_quote_insurance>
                        <type>singleton</type>
                        <class>insurance/observer</class>
                        <method>saveInsuranceInQuote</method>
                    </save_quote_insurance>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_order_save_before>
                <observers>
                    <save_order_insurance>
                        <type>singleton</type>
                        <class>insurance/observer</class>
                        <method>saveOrderBefore</method>
                    </save_order_insurance>
                </observers>
            </sales_order_save_before>
        </events>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>insurance/sales_quote_address_total_insurance</class>
                    </insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_total_invoice_insurance</class>
                    </insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_total_creditmemo_insurance</class>
                    </insurance>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <insurance>
                    <file>insurance.xml</file>
                </insurance>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <insurance_options>
                                            <title>Insurance Module Section</title>
                                        </insurance_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>